

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: montserrat;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
  background-color: rgb(243, 228, 222);
}
.header ul{
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: 20px;

}
.loginbtn{
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 40px;
  background-color: #204e51;

}
.signbtn{
  font-size: 20px;
  color: #204e51;
  border: 3px #204e51 solid;
  background-color: white;
  border-radius: 12px;
  padding: 10px 40px;
}
.hero{
  height: 550px;
  text-align: center;
  color: white;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://img.freepik.com/premium-photo/scenic-view-field-against-sky-sunset_1048944-30794264.jpg?w=740);
  background-repeat: no-repeat;
  background-size: 100% 550px;

}
.hero h1{
  padding-top: 80px;
  font-size: 80px;
}
.hero p{
  margin-bottom: 40px;
}
.main{

  display: flex;
  justify-content: space-between;
  margin-top: 50px;

}
.main-right{
  padding-left: 30px;
}
.main-right h1{
  color: #204E51;
  font-size: 60px;
  

}
.main-right p{
  color:  #1E1E1E;
  ;
}
.main-left{
  position: relative;
}
.main-left img{
  width: 400px;
  height: 400px;
  border-radius: 15px;
  margin-right: 100px;

}
.sincebtn button{
  position: absolute;
  bottom: 80px;
  left:160px ;
  font-size: 15px;
  color: #204e51;
  border: none;
  width: 90px;
  height: 40px;
  /* border: 2px white solid;  */
  background-color: white;
  border-radius: 12px;
  
}
.service-title{
  text-align: center;
}
.service-title h1{
  font-size: 100px;
  color: #204e51;
}
.service-title p{
  margin: 10px;
}
.service-parent{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 70px 4px;

}
.service{
  text-align: center;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  background-color: crimson;
  margin:12px ;

}
.service i{
  padding-top: 80px;
  font-size: 60px;
  padding-bottom: 17px;
}
.product{
  text-align: center;
  border-radius: 10px;
  width: 250px;
  height: 500px;
  background-color: lightblue;
  padding-top: 30px;
}
.product-parent{
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 50px 2px;
}
.product img{
  width: 200px;
  border-radius: 12px;
  margin-bottom: 30px;
}
.sustain{
  align-items: center;
  height: 500px;
  padding:40px ;

  color: white;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://img.freepik.com/premium-photo/scenic-view-field-against-sky-sunset_1048944-30794264.jpg?w=740);
  background-repeat: no-repeat;
  background-size: 100% 500px;
}
.sustain h1{
  margin-bottom: 30px;
  font-size: 80px;
}
.benefit-parent{
display: flex;
justify-content: center;
gap:100px;
}
.benefit-left{
width: 500px;
margin-bottom: 50px;
}
.benefit-right{
  width: 550px;
  height: 600px;
  border-radius: 10px;
  background-color: #204e51;
}
.benefit-left h1{
  font-size: 60px;
  margin-bottom: 20px;
}
.benefit-left p{
  font-size: 30px;
  margin-bottom: 20px;
}
.icon-parent{
  margin: 30px;
  display: flex;
  text-align: center;
  color: white;
  gap: 60px;
}
.icon-parent i{
  font-size: 70px;

}
.icon-parent h1{
  font-size: 60px;
}
.test{
  padding: 30px;
  margin: 100px;
}
.test {
  align-items: center;
  color: #204e51;

 
  
}
.test2{
  display: grid;
  grid-template-columns: 100px 800px 100px;
  column-gap:40px ;
  justify-content: center;
  margin: 50px;
  align-items: center;
}
.test-middle{
  background-color: #204e51;
  width: 750px;
  margin: 30px;
  display: flex;
  justify-content: space-around;
}
.test-icon{
  background-color:white;
  border-radius: 50%;
}
.test-icon i{
 
  color: #204E51;
  align-items: center;

}
.test-middle-left img{
  width: 230px;
  height: 230px; 
  padding-top: 30px;
  border-radius: 20px;
  margin-bottom: 30px;
  padding-left: 30px;
}
.test-middle-right{
  padding-left: 20px;
  margin-top: 30px;
  color: white;
}
.test-middle-right i{
  color: goldenrod;
  gap: 20px;
}
.header{
  background-color: white;
  display:flex;
  justify-content: space-around;
  padding: 10px 60px;
  gap: 30px;
  margin: 30px;
}
.header img {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  
}
.main-parent{
  background-color: white;
  display:flex;
  justify-content: space-around;
  padding: 10px 60px;
  gap: 30px;
}
.main-center{
 padding-left: 90px;
}
.main-right-hand{
  padding-left: 50px;
}
.main-right-hand h1{
  color: green;
  
  

}
.main-left h1{
  color: green;
  

}
.main-center h1{
  color: green;
  

}
.footer{
  background-color: #204e51;
  width: 100%;
  height: 500px;
  margin-top: 50px;
}
.footer2{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 50px;
  padding-top: 50px;
  color: white;
  align-items: center;

}
.footer2-left{
  margin-top: 200px;
}
.footer2-right{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  text-align: center;
  margin-top: 200px;
  
}
.header i{
  display: none;
}
@media screen and (max-width:600px){
  .header ul{
    display: none;
  }
  .btn{
    display: none;
  }
  .header{
    padding: 10px;
  }
  .header h1{
    font-size: 26px;
  padding: 0;
  }
  .header i{
    display: block;
    font-size: 60px;

  }
  .hero h1{
    font-size: 30px;
    margin:10px ;
  }
  .main{
    flex-direction: column;
    padding-top: 5px;
  }
  .main-left img{
    padding-top:10px;
    padding-left: 15px;

  }
  .sincebtn button{
    position: absolute;
  bottom: -10px;
  left:160px ;
  font-size: 15px;
  color: #204e51;
  border: none;

  width: 90px;
  height: 40px;
  /* border: 2px white solid;  */
  background-color: white;
  border-radius: 12px;
  }
  .service-title{
    padding-top: 10px;
  }
  .service-parent{
    flex-direction: column;
  }
  .product-parent{
    flex-direction: column;
  }
  .sustain h1{
    font-size: 30px;
    margin:10px ;
  
  }
  .benefit-parent{
    flex-direction: column;
  }
  .service-title h1{
    font-size: 26px;
  }
  .main-parent{
  flex-direction: column;
  padding: 0;
  margin: 0;
  }
  .main-left{
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  .main-center{
    flex-direction: column;
  }
  .footer{
    padding: 0;
  }
  .footer2{
    padding: 0;
  }
  .header{
    display: flex;
    flex-direction: column;
  }
}
